table {
    width: 25%;
    border-collapse: collapse;
}

tr {
    text-align: left;
}

td {
    padding: 4px 10px;
}

tr, td, th {
    border: 1px solid black;
}

th {
    background-color: lightgray;
}

.oculto {
    border: hidden;
}