body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

td {
    padding: 4px;
}

.contenedor {
    padding: 8px;
    box-shadow: 10px 10px 10px 0px rgba(145,145,145,1);
}