table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 4px;
    border: 1px solid black;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.td-index {
    border: 0px;
}