header {
    background-color: lightgrey;
    padding: 20px;
}

td {
    padding: 4px;
}

.red2 {
    color: rgb(255, 0, 0);
}

.blue2 {
    color: rgb(0, 0, 255);
}

.red {
    background-color: rgb(255, 0, 0);
}

.blue {
    background-color: rgb(0, 0, 255);
}

.times {
    font-family: 'Times New Roman', Times, serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}